.intro{
font-family:'Times New Roman', Times, serif;
text-align: center;
padding: 20px;

}

.intro img{


border-radius: 50%;
object-fit: cover;

}


footer {
    background-color: gray;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

body{

    background-color:tan;
    margin:0;
    padding: 20px;
}

hr{

    border-style: solid;
    border-width: 1px;
    color: black;
}

.flappy{

margin: 0 auto;
text-align: center;

}

h2 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}


table {
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 10px 20px;
}

th {
    background-color:grey;
    color: black;
}

a {
    color:teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}